.profile {
    width: 30.9%;
    padding-top: 74px;
    padding-bottom: 70px;
    margin: 0 auto;
}

.profile__title {
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    text-align: center; 
}

.profile__form {
    width: 100%;
    margin-top: 106px;
}

.profile__line {
    border: 0;
    border-top: 1px solid #424242;
    margin: 16px 0 0 0;
    margin-bottom: 0;
    width: 100%;
}

.profile__input-container {
    position: relative;
}

.profile__input {
    position: relative;
    margin-top: 17px;
    padding: 0;
    margin-bottom: 0;
    color: white;
    font-size: 11px;
    font-weight: 400;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    text-align: right;
    height: 14px;
}

.profile__label {
    position: absolute;
    top: 17px;
    left: 0;
    color: white;
    font-size: 11px;
    font-weight: 400;
    width: 70px;
    text-align: left;
    display:inline-block;
}

.profile__input:hover {
    cursor: text;
    outline: 1px solid rgba(139,139,139);
}

::-webkit-input-placeholder{
    text-align:left;
    font-weight: 500;
  }
  :-moz-placeholder{
    text-align:left;
    font-weight: 500;
  }
  ::-moz-placeholder{
    text-align:left;
    font-weight: 500;
  }
  :-ms-input-placeholder{
    text-align:left;
    font-weight: 500;
  }

.profile__button {
    border: none;
    outline: none;
    width: 100%;
    font-size: 13px;
    padding: 0;
    text-align: center;
    background-color: #202020;
}

.profile__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.profile__button:disabled {
    opacity: 0.3;
    cursor: auto;
}

.profile__button_edit {
    color: white;
    margin-top: 220px;
    font-weight: 400;
    padding: 0;
}

.profile__button_exit {
    color: #EE3465;
    margin-top: 16px;
    font-weight: 500;
    padding: 0;
}

.profile__input-error {
    font-size: 10px;    
    margin-top: 6px;
    color: #EE3465;
}

.profile__input-error:hover {
    cursor: text;
}

.profile__input-error_notvisible {
    display: none;
}

.profile__login-caprion {
    margin-top: 16px;
    margin-bottom: 0;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.profile__link {
    text-decoration: none;
    color: #EE3465;
}

.profile__link:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile {
        width: 53.4%;
        padding-top: 236px;
        padding-bottom: 269px;
    }
    .profile__form {
        margin-top: 79px;
    }
    .profile__button_edit {
        margin-top: 210px;
    }
}

@media screen and (max-width: 425px) {
    .profile {
        width: 81.25%;
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .profile__form {
        margin-top: 63px;
    } 
    .profile__title {
        margin-top: 50px;
        text-align: center;
    }
    .profile__button_edit {
        margin-top: 379px;
    }
    .profile__button {
        font-size: 12px;
    }
}