.card-list__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-auto-rows: min-content;
    column-gap: 24px;
    row-gap: 37px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.card-list__button {
    width: 100%;
    background-color: #2F2F2F;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    height: 36px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .card-list__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, min-content);
        grid-auto-rows: min-content;
        column-gap: 30px;
        row-gap: 30px;
        width: 708px;
    }
}

@media screen and (max-width: 767px) {
    .card-list__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content);
        grid-auto-rows: min-content;
        column-gap: 0;
        row-gap: 14px;
        width: 300px;
    }
}